@model MvcAsyncChat.InputModels.EnterAttempt

@{
    View.Title = "Enter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {}

<tr id="enterSection">
	<td>
		<h2>MVC Chat is a sample asynchronous chat room built using <a href="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=0abac7a3-b302-4644-bd43-febf300b2c51&displaylang=en">ASP.NET MVC 3 Beta</a>. View the source code at <a href="http://github.com/anglicangeek/mvc_chat">Github</a>.
		<table>
			<tr>
				<td class="form-container">
					<fieldset>
						<legend>Enter the chat room</legend>
						@using(Html.BeginForm()) {
							@Html.EditorForModel()
							<input type="submit" value="Enter" />
						}
					</fieldset>
				</td>
			</tr>
		</table>
	</td>
</tr>

@section PostScript {
	<script>
		$(document).ready(function() {
			$("#Name").focus();	
		});
	</script>
}