@using MvcAsyncChat;
@using MvcAsyncChat.RequestModels;
@model SayRequest

@{
    View.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
	<script src="@Url.Content("~/Scripts/room.js")"></script>
}

<tr id="messagesSection">
    <td></td>
</tr>
<tr id="actionsSection">
    <td>
		
		<label for="actionsList">Actions:</label>
        <ul id="actionsList">
			<li>@Html.RouteLink("Leave room", RouteName.Leave)</li>
		</ul>
		@using (Ajax.BeginForm("say", new { }, new AjaxOptions() { 
			OnFailure = "onFailed", 
			OnSuccess = "onSay", 
			HttpMethod = "POST", }, new { id = "sayForm"})) {
			@Html.EditorForModel()
		}
	</td>
</tr>

@section PostScript {
	<script>
		$(document).ready(function() {
			$("#Text").attr("placeholder", "You say:");
			$("#Text").focus();
			setSayHandler();
		});
	</script>
}
